*.o
*.lo
*.la
*.pc
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
libtool
m4/
.deps/
.dirstamp
stamp-h1
ar-lib
compile
depcomp
examples/system
examples/tcp-client
examples/tcp-server
examples/udp-client
examples/udp-server
install-sh
ltmain.sh
missing
test-driver
